<h1>hola Emi</h1>
<% @x = 10
	 @y = 5
   @equipo = ["Emilia", "Antonio", "Manuel", "David", "Hernan"] %>

<% @equipo.each do |miembro| %>
<h2>Me gusta hacer equipo con <%= miembro%> y tenemos ahorrado <%= @x+@y%></h2>

<% end %>


<div class="firma">
		<p>Emilia Alcocer</p>
		<p><img src="http://i.kinja-img.com/gawker-media/image/upload/t_original/ezgcyx6vdxiftnkad8so.gif"/></p>
	</div>
